<div class="container">
    <h3 class="center">{{titulo}}</h3>
        
    <div class="input-field col s2" >
        <select [(ngModel)]="selectedLevel" name="selectedLevel" (change)="getLevel(selectedLevel)" >
            <option value="-1" disabled selected>Elige un nivel para crear/editar prioridades</option>
            <option *ngFor="let level of listLevels" [value]="level.id">{{level.level_name}}</option>
        </select>
    </div>
    <br>
    <div class="input-field">
        <input type="text" id="priorityName" class="validate" [(ngModel)]="nuevaPrioridad" [disabled]="enablePriorityInput">
        <label for="priorityName">Nombre de la nueva prioridad:</label>
    </div>
    <button class="btn" (click)="addPriority()" onclick="M.toast({html: 'Guardando prioridad', classes: 'rounded'})">Agregar Prioridad</button>
    <br>
    <div class="priorityContainer">
        <h4>Prioridades:</h4>
            <div class="form-group row" *ngFor="let priority of nuevoNivel.id_priority;let i=index;"> 
                <input class="col s6" type="text" id="priorityName_{{i}}" [(ngModel)]="priority.priority_name" name="priority.priority_name">
                <button class="btn col s1" (click)="updatePriority(priority.id, priority.priority_name)" 
                    onclick="M.toast({html: 'Prioridad actualizada', classes: 'rounded'})" >Actualizar</button>
                <button class="btn col s1" (click)="deletePriority(priority.id)" 
                    onclick="M.toast({html: 'Prioridad eliminada', classes: 'rounded'})">Eliminar</button>
            </div>
    </div>
</div>  

