<div class="container">
    <h3 class="center">{{titulo}}</h3>
    
        <div class="input-field">
            <input id="nombre_grupo" type="text" class="validate" [(ngModel)]="nombre_grupo" name="nombre_grupo">
            <label for="nombre_grupo">Nombre del nuevo grupo</label>
        </div>
        <button class="waves-effect waves-light btn-small" (click)="newGroup()" onclick="M.toast({html: 'Guardando grupo', classes: 'rounded'})">Nuevo grupo</button>
    
    <br><br>
    <div class="contenedorPersonalizado">
        <table class="highlight responsive-table">
            <thead class="row">
                <tr>
                    <th class="col s3">Grupos</th>
                    <th class="col s6">Usuarios</th>
                    <th class="col s3">Opciones</th>
                </tr>
            </thead>
            <tbody class="row">
                <tr *ngFor="let group of listaGrupos;let i=index;">
                    <td class="col s3">
                        <input  type="text" id="groupName_{{i}}" [(ngModel)]="group.group_name" name="group.group_name">
                    </td>
                    <td class="col s6">
                        <ul *ngFor="let user of group.users">
                            <li>{{user.surname}}, {{user.username}}</li>
                        </ul>
                    </td>
                    <td class="col s3">
                        <input type="button" value="Actualizar grupo" class="waves-effect waves-light btn row" 
                            (click)="updateGroup(group.id, group.group_name)"
                            onclick="M.toast({html: 'Actualizando grupo', classes: 'rounded'})">
                        <br>
                        <input type="button" value="Editar usuarios" class="waves-effect waves-light btn row" 
                            (click)="routeToUser(group.id)">
                        <br>
                        <input type="button" value="Eliminar grupo" class="waves-effect waves-light btn red row" 
                            (click)="deleteGroup(group.id)"
                            onclick="M.toast({html: 'Eliminando grupo', classes: 'rounded'})">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
