nav{
    top:0px;
    /* position:fixed; */
    z-index: 100;
}
.logo{
width: 160px;
margin-top:2px;
}

.btn{
    z-index:102 !important;
    position: relative;
    margin:5px;
}
table{
    z-index: 99;
    position: relative;
}
.logo_fondo:before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 100;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.1;
    background-image: url("http://myticket.com.es/logo_transparent.png") !important;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}

form{
    padding-top: 10px !important;
}
/* .container{
    padding-top: 60px;
} */



.btn-small{
    margin: 10px;
}

/* quitar espacio en blanco entre row's */
.row{
    margin-bottom: 0 !important;
}
.input-field {
    margin-bottom: 0 !important;
}

.contenedorCategoria, .contenedorPersonalizado{
    width: auto;
    height: 71vh;
    overflow-y: scroll;
}
.switch{
    margin-top: 25px;
}
.switch > label{
    font-size: 1rem;
}
.label{
    font-size: 0.8rem !important;
    top: -30px !important;
}
.field-description{
    margin:0px !important;
}
.summary{
    font-weight: 600;
    font-size: 18px !important;
}
.descripcion:focus-within{
    border-color: #8cdf93;
}